*.o
*.d
Private/**
.DS_Store

*.db
Private/*

*.hex

Configuration_ok.h
Repetier.depend
Repetier.layout
activate*.bat
src/Repetier-Atmel7/*

src/build
c_cpp_properties.json
src/private
workspace.xml
macrotest.cpp
macrotest.txt
.idea
src/SampleSystems/privat
settings.json
src/Repetier/.vscode
src/Repetier/testconfigs
src/Repetier/Configuration.h
src/Repetier/Configuration_io.h
src/Repetier/.pio
S2SetUp.jpg
