*.o
*.d
Private/**
.DS_Store

*.db
Private/*

*.hex
src/ArduinoAVR/Repetier/Repetier/*
src/ArduinoAVR/Repetier/Repetier/*
src/ArduinoAVR/Repetier/bin/*                                
src/ArduinoAVR/Repetier/bin/Release/Repetier_mega2560_.elf

src/ArduinoAVR/Repetier/bin/Release/Repetier_mega2560_.elf.hex

src/ArduinoAVR/Repetier/bin/Release/Repetier_mega2560_.elf.lss

src/ArduinoAVR/Repetier/bin/Release/Repetier_mega2560_.elf.map

src/ArduinoAVR/Repetier/bin/Release/Repetier_mega2560_.elf.map

src/ArduinoAVR/Configuration_ordbot.h

src/ArduinoAVR/Configuration_delta.h
Configuration_*.h
Repetier.depend
Repetier.layout
activate*.bat
src/Repetier-Atmel7/*
src/ArduinoDUE/Repetier.zip
src/ArduinoAVR/Repetier.zip

workspace.xml
.idea
settings.json
src/ArduinoDUE/.vscode
src/ArduinoAVR/.vscode
src/SampleEventSystems/Stacker IDEX
activateFelix.sh
activateOriginal.sh
